.buttons button{
    background-color: rgb(72, 72, 192);
    color: white;
    width: 70px;
    height: 40px;
    margin: 40px;
    border: none;
    border-radius: 7px; 
    cursor: pointer;
    
}
.buttons {
    display: flex;
   
    
   
}