<mat-card>
    <mat-card-header>
      <mat-card-title>Profil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
          <form [formGroup]="forma" (ngSubmit)="saqlash()"> 

            <mat-form-field appearance="outline">
              <mat-label>Ism</mat-label>
              <input formControlName="ism" matInput placeholder="Ism">
              <mat-hint>Ismni kiriting</mat-hint>
            </mat-form-field>
  
            <mat-form-field appearance="outline">
              <mat-label>Familiya</mat-label>
              <input formControlName="familiya" matInput placeholder="Familiya">
              <mat-hint>Familiyani kiriting</mat-hint>
            </mat-form-field>


            <!-- <label class="hoverable" for="fileInput">
              <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
              <div class="hover-text">rasmni tanlang</div>
              <div class="background"></div>
            </label>
            <br/>
            <input formControlName='images' id="fileInput" type='file' (change)="onSelectFile($event)">
            <button *ngIf="url" mat-raised-button color="warn"  (click)="delete()" >delete</button>
            
            <button style="margin-left: 20px; margin-top: 10px;" mat-raised-button color="primary" type="submit">
              Saqlash
            </button>
          </form>      -->
   


<mat-divider>
</mat-divider>
  <form [formGroup]="passForm" (ngSubmit)="save()"> 

  <mat-form-field appearance="outline">
    <mat-label>Oldingi parol</mat-label>
    <input type="password" formControlName="eskiParol" matInput placeholder="New Password">
    <mat-hint>Eski parolni kiriting</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Yangi parol</mat-label>
    <input type="password" formControlName="yangiParol" matInput placeholder="New password">
    <mat-hint>Yangi parol</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Parolni qayta kiriting</mat-label>
    <input type="password" formControlName="confirm" matInput placeholder="Again New Password">
    <mat-hint> Parolni qayta kiriting</mat-hint>
  </mat-form-field>

  <button style="margin-left: 20px; margin-top: 10px;" mat-raised-button color="primary" type="submit">
    O'zgartirish
  </button>


  </form>

  