
<div class="login-page">
  <div class="content px20">

    <form [formGroup]='registerForm' (ngSubmit)="onRegister()" class="login-form" >
      <div class="text-center">
        <h1 class="app-name">Loyiha nomi

        </h1>
        <h2> Ro'yhatdan o'tish</h2>
      </div>

      <div fxLayout="row">
        <div fxFlexFill>
          <form ></form>
          <mat-form-field class="w-100">
            <input matInput formControlName='ism' placeholder="Ismingizni kiriting . . .">
            <mat-hint color="accent">*iltimos ismingizga etiborli buling. Keyinchalik ismni uzgartirib bulmaydi</mat-hint>
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName='familiya' placeholder="Familiyangizni kiriting . . .">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName='sharif' placeholder="Otangizni ismini kiriting . . .">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>tugilgan kunni kiriting</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName='tugkun'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput formControlName='pasport' placeholder="Pasport raqamini kiriting . . .">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName='telefon' type="tel" placeholder="Telefonni kiriting . . .">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName='manzil' placeholder="Yashash manzilni kiriting . . .">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName='login' placeholder="Login . . .">
          </mat-form-field>

          <mat-form-field class="w-100">
            <input matInput formControlName='parol' type="password" placeholder="Parol  . . .">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName='tasdiqParol' type="password" placeholder="Parolni qayta kiriting  . . .">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column">
        <div fxFlexFill fxFlexFill.lg='6'>
          <button type="submit" mat-raised-button color="primary"
            [disabled]='registerForm.invalid || surovBajarilmoqda ' class="w-100">Ro'yhatdan o'tish</button>

        </div>
   
      </div>
    </form>
  </div>
</div>