<mat-nav-list>
    <h2 matSubheader class="mt-2">TIZIM</h2>
    <a mat-list-item  routerLink="oqituvchilar" routerLinkActive="list-item-active"> <mat-icon>account_box</mat-icon>Link1</a>
    <a mat-list-item  routerLink="oquvchilar"  ><mat-icon>supervisor_account</mat-icon>Link2</a>
    <a mat-list-item  routerLink="sinf" ><mat-icon>wc</mat-icon>Link3</a>
    <a mat-list-item  routerLink="fan"><mat-icon>school</mat-icon>Link4</a>
    <a mat-list-item  *ngIf="isAdmin" routerLink="user"><mat-icon>calendar_today</mat-icon>Foydalanuvchilar</a>


