<mat-nav-list routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <h2 matSubheader class="mt-2">Bo'lim</h2>
    <a mat-list-item routerLinkActive="active" routerLink="booksnew">
        <mat-icon>wallpaper</mat-icon>Yangi kitoblar
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="kopuqilgan">
        <mat-icon>books</mat-icon>Tizimga kitob yuklash
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="badiiy">
        <mat-icon>book</mat-icon>Badiiy kitoblar
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="tarixiy">
        <mat-icon>books</mat-icon>Tarixiy kitoblar
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="fantastik">
        <mat-icon>book</mat-icon>Fantastik
    </a>
    <a mat-list-item routerLinkActive="jahon" routerLink="jahon">
        <mat-icon>book</mat-icon>jahon adabiyoti
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="maktab">
        <mat-icon>book</mat-icon>Darsliklar
    </a>
    <a mat-list-item routerLinkActive="active" routerLink="mash">
        <mat-icon>book</mat-icon>mashhurlar hayoti
    </a>
    <a mat-list-item routerLinkActive="active" *ngIf="isAdmin" routerLink="user">
        <mat-icon>U</mat-icon>Foydalanuvchilar
    </a>
</mat-nav-list>